

html{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(154, 194, 232);;
}

header{
    background-color: rgb(88, 143, 163);
    font-size: 20px;
    border: black solid 8px;
    height: 200px;
}



header nav{
    margin-top: 5px;
     border: 2px solid black;
}

header nav .logo{
    text-align: revert;
    padding-top: 0px;
    padding-left: 20px;
} 
    
header nav .logo img{
    height: 100px;
    width: 100px;
    border-radius: 10px;

    
}

header nav .menu ul{
    text-align: right;
    padding-right: 15px;
}

header nav ul li{
    color: aliceblue;
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #0b365b;
}



main{
    text-align: center;
}


main section img{
    width: 40rem;
    height: 20rem;
    border: #322775 solid 5px;
    margin-top: 50px;
}

main .cont-text h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .cont-text h2{
font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .cont-parrafo p{
    font-family: 'Montserrat', sans-serif;
    border: rgb(0, 0, 0) solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario{
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



footer{
    background-color: rgb(57, 107, 123);
    height: 400px;
    display: flex;
    padding: 100px;
    border: black solid 7px;
}

nav .navbar-nav{
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

 /* estilos para pc   */ 
 @media screen and (min-width:1024px) 
 body {
       background-color:rgb(52, 52, 241);
      }




    /*CSS De la pc page*/

    /*estilos para tablet */
    @media screen and (min-width: 1024px) {
        .section img {
            display: flex;
        } }

    @media screen and (min-width: 1024px) {
        .logo img {
            display: block;
        }
    }


    /* Estilos celular */
    @media screen and (max-width: 600px) {
        header {
            font-size: 10px;
            border: black solid 4px;
            height: 100px;
        }
        header nav {
            margin-top: 2.5px;
            border: 1px solid black;
        }
        
        header nav .logo {
            text-align: revert;
            padding-top: 0px;
            padding-left: 10px;
        }
        
        header nav .logo img{
            height: 50px;
            width: 50px;
            border-radius: 5px;
        }

        header nav .menu ul{
            padding-right: 7.5px;
            text-align: right;
        }

        header nav ul li{
            padding: 0px;
            display: inline-block;
            margin-right: 10px;
        }

        .container-fluid{
            height: 20px;
        }

        .navbar-left{
            display: inline-block;
            margin-right: 20px;
            float: left;

        }
        a{
            text-decoration: none;
            color: #0b365b;
        }

        main section img{
            width: 350px;
            height: 150px;
            border: #322775 solid 2.5px;
            margin-top: 50px;
        }

        main .cont-text h1{
            padding-top: 15px;
        }
        
        main .cont-text h2{
            padding-top: 15px;
        }

        main .cont-parrafo p{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        footer{
            height: 200px;
            display: flex;
            padding: 50px;
            border: black solid 3.5px;
        }

        footer .contacto1 .email{
            display: flex;
            padding-top: 40px;
        }

        .marcas{
            display: flex;
            margin-top: 40px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .marcas2{
            text-align: right;
            padding-right: 50px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .button{
            border: black solid 1.5px;
            font-size: 15px;
            padding: 5px;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .contener{
            display: flex;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        nav .navbar-nav{
            display: inline-block;
            display: flex;
            flex-direction: row;
        }

        nav navbar-left{
            display: inline-block;
            display: flex;
            flex-direction: row;
            margin-right: px;
        }

        .formulario{
            font-family: 'Montserrat', sans-serif;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
}
    

footer .contacto1 .email{
    display: flex;
    padding-top: 80px;
}





.marcas{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marcas2{
    text-align: right;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}

ul li{
    list-style: none;
    display: inline-block;
  margin-right: 10px; /* Agregar un margen derecho para separar los enlaces */
}

button{
    background-color: rgb(251, 255, 0);
    border: black solid 3px ;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



.contener{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}

.animate__animated.animate__headShake{
    --animate-delay: 10s
}




