//colores
$fondo-color:rgb(57, 107, 123);
$titulo-color: black;
$parrafos-color: black;
$borde-color: #322775 solid 0.3rem;
$borde-parrafo: rgb(0, 0, 0) solid 0.3rem;
$borde-footer: black solid 7px;
$borde-header: black solid 8px;
$borde-boton:black solid 3px;
$boton-color: rgb(251, 255, 0);